<h3> User Creation Test </h3>
<hr>
<form method="post" action="">
    {% csrf_token %}
<div class="firstname">
    <label for="first_name">First Name</label>
    {{form.first_name}}
</div>
<div class="lastname">
    <label for="last_name">Last Name</label>
    {{form.last_name}}
</div>
<div class="username">
    <label for="username">Username:</label>
    {{form.username}}
</div>
<div class="email">
    <label for="email">Email:</label>
    {{form.email}}
</div>
<div class="password">
    <label for="password1">Password:</label>
    {{form.password}}
</div>
<div class="course">
    <label for="course">Course:</label>
    {{form.course}}
</div>
<div class="subjects">
    {{form.enrolled_subjects}}
</div>

<input type="submit">
</form>