[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.4"
ipython = "*"
psycopg2-binary = "*"
pillow = "*"
openpyxl = "*"
pandas = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.12"
