{% extends "registrarside/base.html" %}

{% block title %}
Registrar Form Request List
{% endblock title %}

{% block content %}
<div class="container dashboard-container p-5 m-5">
    <div class="container">
        <h1>Transaction Request List</h1>
    </div>
 <div class="container">
    <div class="container">
        <label for="seasrch">Search:</label>
        <input type="text" name="search" id="">
        <select name="" id="">
            <option value="" default>--------------</option>
            <option value="" default>Transaction ID</option>
            <option value="" default>Student ID</option>
        </select>
        <button type="button" class="search-btn">Search</button>
    </div>
    <table class="student-table">
        <tr>
            <th>Transaction ID</th>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Payment Purpose</th>
            <th>Amount Payed</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>000000000</td>
            <td>21001396500</td>
            <td>TRN00001</td>
            <td>Taxes</td>
            <td>PHP 5,000</td>
            <td>PENDING</td>
            <td>
                <button type="button" class="edit-btn">Approve</button>
                <button type="button" class="delete-btn">Hold</button>
            </td>
        </tr>
      
    </table>
 </div>

</div>
{% endblock content %}
