{% extends "registrar/registrar_sidebar.html" %}
{% block title %}
Document Request
{% endblock title %}

{%load static%}
{% block content %}
{%for msg in messages%}
  {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {%elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
       <div class="alert alert-warnings alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {%endif%}
{%endfor%}



<div class="registrar-crud-dashboard">
        <h1 class="registrar-list-title">Document Request List</h1>
    
        <!-- Search Section -->
        <div class="registrar-search-container">
          <div class="filter-docu">
            <select id="filter-request">
                <option value="">Display All</option>
                <option value="CERTIFICATE OF ENROLLMENT">Certificate of Enrollment</option>
                <option value="CERTIFICATE OF GOOD MORALE">Certificate of Good Morale</option>
                <option value="CERTIFICATE OF GRADES">Certificate of Grades</option>
            </select>
            <button type="button" id="filter-purpose">Filter</button>
        </div>

            <input type="text" id="registrar-search-request" placeholder="Search Requests">
            <button type="button" class="btn btn-primary m-1" id="searchButton">Search</button>
        </div>
    
        <!-- Document Request Table -->
        <table class="request-table unique-request-table">
            <thead class="registrar-table-head">
                <tr>
                    <th class="registrar-table-header">Student USN</th>
                    <th class="registrar-table-header">Student Name</th>
                    <th class="registrar-table-header">Document Type</th>
                    <th class="registrar-table-header">Request Date</th>
                    <th class="registrar-table-header">Status</th>
                    <th class="registrar-table-header">Actions</th>
                </tr>
            </thead>
            <tbody id="request-list" class="request-list">
             
            </tbody>
        </table>
    
        <!-- Pagination -->
        <div id="registrar-pagination">
          
        </div>
    </div>

     <!-- Process Request Modal -->
     <div class="modal fade req-document-modal" id="processRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog req-document-dialog">
          <div class="modal-content req-document-content">
              <div class="modal-header req-document-header">
                  <h5 class="modal-title req-document-title" id="exampleModalLabel">Request Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body req-document-body">
                  <form id="certificate-form" action="{%url 'home:generate-cert'%}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="transID" id="transID">
                      <div class="container req-document-container">
                          <div class="row req-document-row">
                              <div class="col req-document-col">
                                  <h4>Transaction Information</h4>
                                  <div class="form-group req-document-group">
                                      <label for="student-usn">Student USN:</label>
                                      <input type="text" name="student" id="student-usn" readonly>
                                  </div>
                                  <div class="form-group req-document-group">
                                      <label for="student-name">Student Name:</label>
                                      <input type="text" name="student-name" id="student-name" disabled>
                                  </div>
                                  <div class="form-group req-document-group">
                                      <label for="doc-type">Document Type:</label>
                                      <input type="text" name="document_type" id="document-type" readonly>
                                  </div>
                                  <div class="form-group req-document-group">
                                      <label for="date-requested">Date Requested:</label>
                                      <input type="text" name="date-requested" id="date-requested" disabled>
                                  </div>
                              </div>
                              <div class="col cert-morale-enrollment req-document-cert">
                                  <h6>Enter Year and Semester (If Certificate of Grades, enter previous semester)</h6>
                                  <label for="semester">Semester:</label>
                                  <select name="semester" id="semester">
                                      <option value="1st">1st</option>
                                      <option value="2nd">2nd</option>
                                  </select>
                                  <label for="year">School Year:</label>
                                  <input type="text" name="year" id="school-year" placeholder="Enter School Year (example: 2024-2025)">
                                  <label for="pickup-date">Set Pick-up Date:</label>
                                  <input type="date" name="pickup-date" id="pickup-date">
                              </div>
                          </div>
                      </div>
              </div>
              <div class="modal-footer req-document-footer">
                  <button type="button" class="btn btn-secondary" id="process-request-closed" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary process-request" id="process-request">Process Requests</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  

      <!-- APPROVED MODAL SECTION  -->

      <div class="modal fade approved-request-modal" id="approveRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header approved-request-header">
              <h5 class="modal-title" id="exampleModalLabel">Approved Request</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form action="{%url 'home:transactions:complete-request'%}" method="post">
            {% csrf_token %}
              <div class="doc-request-message">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary approved-request-closed" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary complete-request  approved-request-complete">Complete Document Request</button>
            </form>
            </div>
          </div>
        </div>
      </div>

<script src="{%static 'js/registrar-docu-request.js'%}"></script>

{% endblock content %}
