{% extends "registrar/registrar_sidebar.html" %}
{% block title %}
Document Request
{% endblock title %}

{%load static%}
{% block content %}

<div class="registrar-crud-dashboard">
        <h1 class="registrar-list-title">Document Request List</h1>
    
        <!-- Search Section -->
        <div class="registrar-search-container">
            <input type="text" id="registrar-search-request" placeholder="Search Requests">
        </div>
    
        <!-- Document Request Table -->
        <table class="request-table unique-request-table">
            <thead class="registrar-table-head">
                <tr>
                    <th class="registrar-table-header">Request ID</th>
                    <th class="registrar-table-header">Student Name</th>
                    <th class="registrar-table-header">Document Type</th>
                    <th class="registrar-table-header">Request Date</th>
                    <th class="registrar-table-header">Status</th>
                    <th class="registrar-table-header">Actions</th>
                </tr>
            </thead>
            <tbody id="request-list">
                <tr class="registrar-table-row">
                    <td class="registrar-table-data">1</td>
                    <td class="registrar-table-data">Mj</td>
                    <td class="registrar-table-data">COG</td>
                    <td class="registrar-table-data">February 21, 2025</td>
                    <td class="registrar-table-data status pending unique-status-pending">Pending</td>
                    <td class="registrar-table-data actions unique-actions">
                        <button class="unique-btn unique-btn-view registrar-view-button">
                            <i class="fas fa-eye view-icon"></i>
                        </button>
                        <button class="unique-btn unique-btn-approve registrar-approve-button">
                            <i class="fas fa-circle-check approve-icon"></i>
                        </button>
                        <button class="unique-btn unique-btn-reject registrar-reject-button">
                            <i class="fas fa-ban reject-icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <!-- Pagination -->
        <div id="registrar-pagination">
            <button id="prev-btn" class="registrar-pagination-btn" aria-label="Previous page">Previous</button>
            <button id="next-btn" class="registrar-pagination-btn" aria-label="Next page">Next</button>
        </div>
    </div>


{% endblock content %}
