{% extends "registrar/registrar_sidebar.html" %}
{% block title %}
Document Request
{% endblock title %}

{%load static%}
{% block content %}

<div class="registrar-crud-dashboard">
        <h1 class="registrar-list-title">Document Request List</h1>
    
        <!-- Search Section -->
        <div class="registrar-search-container">
            <input type="text" id="registrar-search-request" placeholder="Search Requests">
            <button type="button" class="btn btn-primary m-1" id="searchButton">Search</button>
        </div>
    
        <!-- Document Request Table -->
        <table class="request-table unique-request-table">
            <thead class="registrar-table-head">
                <tr>
                    <th class="registrar-table-header">Student USN</th>
                    <th class="registrar-table-header">Student Name</th>
                    <th class="registrar-table-header">Document Type</th>
                    <th class="registrar-table-header">Request Date</th>
                    <th class="registrar-table-header">Status</th>
                    <th class="registrar-table-header">Actions</th>
                </tr>
            </thead>
            <tbody id="request-list" class="request-list">
             
            </tbody>
        </table>
    
        <!-- Pagination -->
        <div id="registrar-pagination">
          
        </div>
    </div>

<script src="{%static 'js/registrar-docu-request.js'%}"></script>

{% endblock content %}
