{% extends "registrar/registrar_sidebar.html" %}
{% block title %}
Cashier Dashboard
{% endblock title %}
{%load static%}
{% block content %}

{%for msg in messages%}
  {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-warnings alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {%elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
       <div class="alert alert-warnings alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {%endif%}
{%endfor%}

<div class="edit-pass-registrar">
  <div class="container">
    <h1>Edit Password</h1>
    <div class="row">
      <form action="{%url 'home:users:change-password'%}" method="post">
        {% csrf_token %}
      <div class="col">
        <label for="old-password">Old Password</label>
        <div class="form-group">{{form.old_password}}</div>
      </div>
      <div class="col">
        <label for="new-password1">New Password</label>
        <div class="form-group">{{form.new_password1}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="new-password2">Confirm New Password</label>
        <div class="form-group">{{form.new_password2}}</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-btn">Update Password</button>
    </form>
    </div>
  </div>
</div>

<script src="{%static 'js/manual_transaction.js'%}"></script>
{% endblock content %}