{% extends "registrar/registrar_sidebar.html" %}
{% block title %}
Generate Document
{% endblock title %}

{%load static%}
{% block content %}

<div class="generate-document-container">
    <main class="generate-document-main">
        <header class="generate-document-header">
            <h1>Generate Document</h1>
        </header>
        <form action="#" method="POST" class="generate-document-form">
            <label for="document-type">Select Document Type:</label>
            <select id="document-type" name="document_type" required class="generate-document-select">
                <option value="" selected disabled>---------------</option>
                <option value="coe">Certificate of Enrollment</option>
                <option value="gm">Good Moral Certificate</option>
                <option value="cog">Certificate of Grades</option>
            </select>

            <label for="student-name">Input Student USN:</label>
            <input type="text" id="student-name" name="student_name" placeholder="Search student..." list="students" required class="generate-document-input">

            <div id="enrollment-goodmorale" class="form-group">
                <label for="Semester">Enter semester:</label>
                <select name="semester" id="semester" class="generate-document-select">
                    <option value="1st">1st Semester</option>
                    <option value="2nd">2nd Semester</option>
                </select>
                <label for="sy">School Year:</label>
                <input type="text" id="sy" placeholder="Enter the school year (ex. 2024-2025)" class="generate-document-input">
            </div>
        
            <button type="submit" class="generate-document-button">Generate Report & Send Email</button>
        </form>
    </main>
</div>

<script src="{%static 'js/registrar-docu-request.js'%}"></script>
{% endblock content %}
