{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{%static 'favicon/favicon.ico'%}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/sidebar.css'%}" />
    
    <link rel="stylesheet" href="{% static 'styles/registrar.css'%}" />

    <link rel="stylesheet" href="{% static 'styles/registrar-dashboard.css'%}" />

    <link rel="stylesheet" href="{% static 'styles/document-request.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/alert-styles.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/generate-document.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/create-student-profile.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/edit-cashier.css'%}" />

    <script src="{% static 'js/registrar-dashboard.js'%}"></script>

    <script src="{% static 'js/create-student.js'%}"></script>

  </head>
  <body>
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
      <div class="sidebar-header">
        <img
          src="{% static 'images/aclclogo.png'%}"
          alt="ACLC Logo"
          class="aclc-logo"
        />
        <span class="aclc-apalit">ACLC Apalit</span>
      </div>
      <ul class="sidebar-menu">
        <li>
          <a
            href="{%url 'home:registrar-dashboard'%}"
            class="menu-item"
            data-link="dashboard"
            ><i class="fas fa-house-user"></i> Dashboard</a
          >
        </li>

        <li class="dropdown">
          <a href="#" class="menu-item dropdown-toggle" data-toggle="dropdown"
            ><i class="fas fa-file-alt"></i> Document Requests
            <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">

            <li><a href="{%url 'home:document-request'%}">View Pending/Available Pending Requests</a></li>
            <li><a href="{%url 'home:complete-document'%}">View Completed Requests</a></li>
            
          </ul>
        </li>

        <li>
          <a href="{%url 'home:grade-list'%}" class="menu-item" data-link="generate-document">
            <i class="fas fa-print"></i> Grade List
          </a>
        </li>

        <li>
          <a href="{%url 'home:create-student-profile'%}" class="menu-item" data-link="create-student-profile">
           <i class="fas fa-user-plus"></i> Create Student Users
          </a>
        </li>
        
        <li>
          <a href="{%url 'home:edit-registrar'%}" class="menu-item" data-link="edit-users">
            <i class="fas fa-user-edit"></i> Edit User
          </a>
        </li>

      </ul>
      <div class="user-profile">
        <a href="{%url 'home:edit-registrar-password'%}" class="menu-item" data-link="profile">
          <i class="fas fa-key"></i> Change Password
        </a>

    
        <a href="{%url 'authentication:logout'%}" class="menu-item logout"
          ><i class="fas fa-sign-out-alt"></i> Logout</a
        >
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <button id="toggle-btn" class="toggle-btn">☰</button>
      <button id="close-btn" class="close-btn">×</button>
{% block content %} {% endblock content %}

    <footer class="txn-footer">
      &copy; 2025 Transaction Management System. All rights reserved.
    </footer>
    </div>

    <script src="{% static 'js/sidebar.js'%}"></script>
  </body>
</html>
