{% extends "registrar/registrar_sidebar.html" %}

{% block title %}
Grade List
{% endblock title %}

{%load static%}
{% block content %}

<div class="registrar-crud-dashboard">
        <h1 class="registrar-list-title">Grade List</h1>
    
        <!-- Search Section -->
        <div class="registrar-search-container">
            <input type="text" id="registrar-search-request" placeholder="Search by USN">
            <button type="button" class="btn btn-primary m-1" id="searchButton">Search</button>
        </div>
    
        <!-- Document Request Table -->
        <table class="request-table unique-request-table">
            <thead class="registrar-table-head">
                <tr>
                    <th class="registrar-table-header">Student USN</th>
                    <th class="registrar-table-header">Subject Code</th>
                    <th class="registrar-table-header">Subject Title</th>
                    <th class="registrar-table-header">School Year</th>
                    <th class="registrar-table-header">Semester</th>
                    <th class="registrar-table-header">Grade Value</th>
                    <th class="registrar-table-header">Action</th>
                </tr>
            </thead>
            <tbody id="grade-data" class="grade-data">
                <tr class="registrar-table-row">
                    <td class="registrar-table-data">21001396500</td>
                    <td class="registrar-table-data">Joe Mama</td>
                    <td class="registrar-table-data">UGRD-GE6300</td>
                    <td class="registrar-table-data">Life and Works of Rizal</td>
                    <td class="registrar-table-data">2024-2025</td>
                    <td class="registrar-table-data">2nd</td>
                    <td class="registrar-table-data">96.80</td>
                    <td class="registrar-table-data actions unique-actions">
                        <button class="unique-btn unique-btn-view registrar-view-button">
                            <i class="fas fa-eye view-icon"></i>
                        </button>
                        <button class="unique-btn unique-btn-approve registrar-approve-button">
                            <i class="fas fa-circle-check approve-icon"></i>
                        </button>
                        <button class="unique-btn unique-btn-reject registrar-reject-button">
                            <i class="fas fa-ban reject-icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <!-- Pagination -->
        <div id="registrar-pagination">
        </div>
    </div>



<div class="modal fade" id="editGrade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="#" method="post">
        {% csrf_token %}
        <input type="hidden" name="gradeID" id="gradeID">
        <div class="form-group">
          <label for="grade_value">Enter Grade Value:</label>
          <input type="number" name="grade_value" id="grade_value">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </form>
      </div>
    </div>
  </div>
</div>


<script src="{%static 'js/registrar-grades.js'%}"></script>

{% endblock content %}
