{% extends "registrar/registrar_sidebar.html" %}

{% block title %}
Grade List
{% endblock title %}

{%load static%}
{% block content %}
{%for msg in messages%}
  {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {%elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
       <div class="alert alert-warnings alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {%endif%}
{%endfor%}




<div class="registrar-crud-dashboard">
        <h1 class="registrar-list-title">Grade List</h1>

        <div class="filter-docu-request">
          <select id="filter-request">
              <option value="">Display All</option>
              <option value="1st">1st</option>
              <option value="2nd">2nd</option>
          </select>
        </div>

        <!-- Search Section -->
        <div class="registrar-search-container">
            <input type="text" id="registrar-search-request" placeholder="Search by USN">
            <button type="button" class="btn btn-primary m-1" id="searchButton">Search</button>
        </div>
    
        <!-- Document Request Table -->
        <table class="request-table unique-request-table">
            <thead class="registrar-table-head">
                <tr>
                    <th class="registrar-table-header">Student USN</th>
                    <th class="registrar-table-header">Subject Code</th>
                    <th class="registrar-table-header">Subject Title</th>
                    <th class="registrar-table-header">School Year</th>
                    <th class="registrar-table-header">Semester</th>
                    <th class="registrar-table-header">Grade Value</th>
                    <th class="registrar-table-header">Action</th>
                </tr>
            </thead>
            <tbody id="grade-data" class="grade-data">
                
            </tbody>
        </table>
    
        <!-- Pagination -->
        <div id="registrar-pagination">
        </div>
    </div>



<div class="modal fade" id="editGrade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Grades</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="{%url 'home:grades:grade-edit'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="gradeID" id="gradeID">
        <div class="form-group">
          <label for="grade_value">Enter Grade Value:</label>
          <input type="number" name="grade_value" id="grade_value">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
      </div>
    </div>
  </div>
</div>


<script src="{%static 'js/registrar-grades.js'%}"></script>

{% endblock content %}
