{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    <title>Password Reset Form</title>
</head>
<body>
<p>Forgot your password? Enter your email here and we'll send instructions to set up a new one!</p>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>