{% extends "teacherview/teacher-sidebar.html" %}
{% block title %}
Teacher Dashboard
{% endblock title %}
{%block content%}

<div class="tweet-box">
    <textarea class="tweet-input" id="tweetInput" placeholder="What's happening?"></textarea>
    <div class="tweet-actions">
        <button class="tweet-btn">Post</button>
        <div class="emoji-picker">
            <button class="emoji-btn" onclick="toggleEmojiList()"><i class="fa-regular fa-face-smile"></i></button>
            <div class="emoji-list" id="emojiList"></div>
        </div>
    </div>
</div>

{% endblock content %}