{% extends "teacherview/teacher-sidebar.html" %}
{% block title %}
Teacher News Feed
{% endblock title %}
{%block content%}

<form action="{%url 'home:news:create-announcement'%}" method="post">
<div class="tweet-box">
{% csrf_token %}
    <input id="title-announcement" type="text" placeholder="Announcement Title..." name="title">
    <textarea class="tweet-input" id="tweetInput" placeholder="What's happening?" name="body"></textarea>
    <div class="tweet-actions">
        <button type="submit" class="tweet-btn">Post</button>
    </form>
        <div class="emoji-picker">
            <button type="button" class="emoji-btn" onclick="toggleEmojiList()"><i class="fa-regular fa-face-smile"></i></button>
            <div class="emoji-list" id="emojiList"></div>
        </div>
    </div>
</div>

<div class="news-container">
  <div class="sort-by">
      <label for="sort-filter">Sort by:</label>
      <select id="sort-filter" onchange="sortNews()">
          <option value="new">New Post</option>
          <option value="recent">Most Recent</option>
          <option value="relevant">Most Relevant</option>
      </select>

        <select id="author-select">
            <option value="" disabled selected>Select Author</option>
            <option value="user1">Mark Joseph Mendiola</option>
            <option value="user2">Alden Flores</option>
            <option value="user3">Rovic Magat</option>
        </select>
  </div>


  <div class="newsfeed" id="newsfeed">

  </div>
</div>




{% endblock content %}