{% extends "coursebase/base.html" %}
{% block title %}
Course List
{% endblock title %}
{%load static%}
{% block content %}
    <div class="crud-dashboard">
        <h1>Course List</h1>
        
        <!-- Search and Add Course Section -->
        <div class="search-container">
            <button type="button" class="add-btn" data-bs-toggle="modal" data-bs-target="#addCourse">
                Add Course
              </button>
            <input type="text" id="search-course" placeholder="Search Course">
        </div>

        <!-- Course Table -->
        <table id="course-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Course Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="course-list">
        {%for courses in course%}
	              <tr>
                    <td>{{courses.id}}</td>
                    <td>{{courses.name}}</td>
                    <td>
                        <button class="action-btn edit-btn" data-id="{{courses.id}}"data-bs-toggle="modal" data-bs-target="#editCourse">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                    <button type="button" data-id="{{courses.id}}"class="action-btn delete-btn" data-bs-toggle="modal" data-bs-target="#deleteCourse">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </td>
                </tr>
        {%endfor%}
               
            </tbody>
        </table>

        <!-- Pagination -->
        <div id="pagination">
            <button id="prev-btn" class="pagination-btn" aria-label="Previous page">Previous</button>
            <button id="next-btn" class="pagination-btn" aria-label="Next page">Next</button>
        </div>
    </div>


<!-- ADD COURSE BUTTON START-->
<div class="modal fade" id="addCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add Course</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="course">Course Name:</label>
            {{form}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="action-btn delete-btn" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="action-btn edit-btn">Add Course</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- ADD COURSE BUTTON END-->

<!--EDIT COURSE START-->
<div class="modal fade" id="editCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Edit Course</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{%url 'admin:course:course-edit'%}" method="POST">
          <div class="form-group">
            {%csrf_token%}
              <input type="hidden" name="id" id="course_id">
              <label for="course">Course Name:</label>
              <input type="text" name="name" required id="course_name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="action-btn delete-btn" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="action-btn edit-btn">Save Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!--EDIT COURSE END-->


<!--DELETE COURSE START-->
<div class="modal fade" id="deleteCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirm Delete</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="{%url 'admin:course:course-delete'%}" method="post">
          {%csrf_token%}
          <h3>Are you sure you want to delete this course?</h3>
          <input type="hidden" name="delete_id" id="delete_id">
        </div>
        <div class="modal-footer">
          <button type="button" class="action-btn delete-btn" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="action-btn edit-btn">Confirm</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<script src="{%static 'js/course_modal_ud.js'%}"></script>
<!--DELETE COURSE END-->
{% endblock content %}