{% extends "_base/base.html" %}
{%load static%}


{% block content %}
  <section class="container">
    <div class="dashboard-container">
      <div class="dashboard-container-header">
        <h1>Admin Dashboard</h1>
      </div>
      <div class="dashboard-container-body">
        <h2>Quick Action</h2>
        <div class="dashboard-card-container m-3">

<!--- CARD COMPONENT START-->
          <div class="container card-component">
            
            <div class="card-component-icon">
              <i class="fa-solid fa-music"></i>
            </div>
            <div class="card-component-header">
              <h3>Hello</h3>
            </div>
            <div class="card-component-body">
              <p>Test</p>
            </div>
          </div>

          <div class="container card-component">
            <div class="card-component-icon">
              <i class="fa-solid fa-music"></i>
            </div>
            <div class="card-component-header">
              <h3>Hello</h3>
            </div>
            <div class="card-component-body">
              <p>Test</p>
            </div>
          </div>

          <div class="container card-component">
            <div class="card-component-icon">
              <i class="fa-solid fa-music"></i>
            </div>
            <div class="card-component-header">
              <h3>Hello</h3>
            </div>
            <div class="card-component-body">
              <p>Test</p>
            </div>
          </div>
<!--- CARD COMPONENT END-->

          

          
        </div>
      </div>
    </div>
  </section>
{% endblock content %}