{% extends "adminbase/base.html" %} {%load static%} {%block title%}Admin
Dashboard{%endblock%} {%block content%}

{%for msg in messages%}
  {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {%elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
       <div class="alert alert-warnings alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {%endif%}
{%endfor%}








<div id="container">
  <div class="admin-dashboard">
    <header class="admin-dashboard-header">
      <div class="logo">
        <img src="{% static 'images/aclclogo.png'%}" alt="ACLC Apalit Logo" />
      </div>
      <h1>Admin Dashboard</h1>
    </header>
    <main class="admin-dashboard-main">
      <section class="actions">
        <h2>Quick Actions</h2>
        <div class="action-cards">
          <div class="card">
            <i class="fa fa-user-plus"></i>
            <h3>Edit Admin User</h3>
            <p>Edit the details of the current admin user</p>
            <a href="{%url 'admin:edit-admin'%}" class="btn">Go</a>
          </div>
          <div class="card">
            <i class="fa fa-edit"></i>
            <h3>View Teacher Users</h3>
            <p>Manage accounts for teachers.</p>
            <a href="{%url 'admin:users:teacher-list'%}" class="btn">Go</a>
          </div>
          <div class="card">
            <i class="fa fa-book"></i>
            <h3>View Student Users</h3>
            <p>Manage accounts for students</p>
            <a href="{%url 'admin:users:student-list'%}" class="btn">Go</a>
          </div>
        </div>
      </section>

      <section class="form-section">
        <h2>Create a New User</h2>
        <form
          id="quick-action"
          action="{%url 'admin:users:dashboard-action'%}"
          method="POST"
        >
          <div class="form-group">
            <label for="userType">User Type</label>
            {% csrf_token %}
            <select id="userType" name="user_type" required>
              <option value="" disabled selected>Select User type</option>
              <option value="STUDENT">Student</option>
              <option value="TEACHER">Teacher</option>
              <option value="REGISTRAR">Registrar</option>
              <option value="CASHIER">Cashier</option>
            </select>
          </div>
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input
              type="text"
              id="userName"
              name="first_name"
              required
              placeholder="Enter First Name"
            />
          </div>
          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input
              type="text"
              id="last_name"
              name="last_name"
              required
              placeholder="Enter Last Name"
            />
          </div>
          <div class="form-group">
            <label for="userName">Username:</label>
            <input
              type="text"
              id="userName"
              name="username"
              required
              placeholder="Enter username"
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Enter email"
            />
          </div>
           <div class="form-group" id="course_input">
            <label for="course">Course</label>
            <input
              type="text"
              id="course-field"
              name="course"
              placeholder="Enter course"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Enter password"
            />
          </div>
          <button type="submit" class="submit-btn">Create User</button>
        </form>
      </section>
    </main>
  </div>
</div>

<script src="{%static 'js/admin_dashboard.js'%}"></script>
{%endblock%}
