{% extends "adminbase/base.html" %}
{% block title %}
Edit Admin Password
{% endblock title %}

{% block content %}
<div class="cotainer">
    <h1>Edit Admin Password</h1>
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{form.old_password}}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{form.old_password}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col">
                <div class="form-group">
                    {{form.old_password}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{form.old_password}}
            </div>
        </div>
    </div>
  
    
</div>
{% endblock content %}