{% extends "adminbase/base.html" %}
{% block title %} Edit Admin Password 
{%endblock title %}
{% block content %}

<div class="edit-pass">

  <div class="container">
    <h1>Edit Admin Password</h1>
    <div class="row">
      <form action="{%url 'admin:users:change-password'%}" method="post">
        {% csrf_token %}
      <div class="col">
        <label for="old-password">Old Password</label>
        <div class="form-group">{{form.old_password}}</div>
      </div>
      <div class="col">
        <label for="new-password1">New Password</label>
        <div class="form-group">{{form.new_password1}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="new-password2">Confirm New Password</label>
        <div class="form-group">{{form.new_password2}}</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-btn">Update Password</button>
    </form>
    </div>
  </div>
</div>

{% endblock content %}
