{% extends "cashier/cashiersidebar.html" %} {%load static%} {% block title %}
Confirmed Transactions {%endblock title %} {% block content %}

<div class="trans-container">
  <h1>Confirmed Transactions</h1>
  <div class="filters">
    <div class="search-bar">
        <input
            type="text"
            id="searchInput"
            placeholder="Search by USN or Name..."
        />
        <button id="searchButton">Search</button>
    </div>
    <div class="filter-options">
        <select id="filterPurpose">
            <option value="">Display All</option>
            <option value="TUITION FEE">Tuition Fee</option>
            <option value="CERTIFICATE OF GRADES">Certificate of Grades</option>
            <option value="CERTIFICATE OF GOOD MORALE">Certificate of Good Morale</option>
            <option value="OTHER">Other</option>
        </select>
       <button type="button" class="btn btn-primary">Export Transaction Data</button>
    </div>
</div>


  <div class="trans-history-container">
    <table id="transactionTable">
      <thead class="thead-title">
        <tr class="title-table">
          <th>Student ID</th>
          <th>Name</th>
          <th>Date</th>
          <th>Purpose of Payment</th>
          <th>Other Purpose</th>
          <th>Amount</th>
          <th>Confirmation Status</th>
        </tr>
      </thead>
      <tbody class="table-tbody">
        
      </tbody>      
    </table>

    <div id="second-pagination" class="second-pagination">

    </div>

    <div class="no-results" id="noResults" style="display: none">
      No matching records found
    </div>
  </div>
</div>


  <script src="{%static 'js/cashier_transaction_confirmed.js'%}"></script>


{% endblock content %}
