{% extends "studentview/studentsidebar.html" %}
{% block title %}
News Feed
{% endblock title %}
{%load static%}
{%block content%}
<!-- Main Content Section -->
<div class="main_content_wrapper">
    <!-- Search Bar -->
    <div class="search_bar_container">
        <input type="text" placeholder="Search announcements..." class="search_announcements">
    </div>
  
    <!-- Main Newsfeed Section -->
    <main class="newsfeed-main-container">
        <!-- Dropdown for Filtering Announcements by Teacher -->
        <div class="announcement_category_container">
            <select class="category-dropdown" id="filterDropdown">
                <option value="all">All Announcements</option>
                <option value="Ms. Reyes">Ms. Reyes (Math)</option>
                <option value="Mr. Santos">Mr. Santos (Student Affairs)</option>
            </select>
        </div>
    
        <!-- Newsfeed Section -->
        <div class="newsfeed_announcements_container" id="newsfeed">
       
  
       

     
      </div>
    </main>
  </div>

<script src="{%static 'js/student_newsfeed.js'%}"></script>
{% endblock content %}