{% extends "studentview/studentsidebar.html" %}
{% block title %}
Student Request Form
{% endblock title %}
{%load static%}

{% block content %}
<div class="student-transaction-container">
    <div class="student-transaction-header">
        <h3>Student Transaction Request</h3>
    </div>

    <div class="student-transaction-type">
    <form action="{%url 'home:transactions:student-payment-request'%}" method="post" enctype="multipart/form-data">
        <label for="transaction">Transaction Type:</label>
        {{form.payment_purpose}}
    </div>

    <div class="student-payment-info">
        <p>Payment: <strong></strong></p>
    </div>
    
    <div class="student-payment-proof">
    
        {% csrf_token %}
        <label for="paymentproof">Proof of Payment:</label>
        {{form.payment_proof}}
        <label for="paymentproof" class="custom-upload-btn">Choose File</label>
        <span id="file-name">No file chosen</span>
    </div>
  <button type="submit" class="submit-transaction">SUBMIT</button>
</form>
</div>

<script src="{%static 'js/student_request_form.js'%}"></script>
{% endblock content %}