body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.login-title {
    font-size: 20px;
    font-weight: bold;
    color: #1B48A0;
    margin: 0 0 20px;
    text-align: center;
}

.login-container {
    display: flex;
    height: 100vh;
}

/* Left Section */
.left-section {
    flex: 1;
    background-image: url('/static/images/VA-BG.jpeg');
    background-size: 100% 100%; /* width 120%, height auto */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


/* Right Section for Login Form */
.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login-frame {
    width: 90%;
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-frame img {
    width: 150px;
    display: block;
    margin: 0 auto 20px;
}

.login-frame h2 {
    color: #555;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-control {
    height: 45px;
    font-size: 16px;
    margin-bottom: 20px;
}

#loginForm input {
    box-shadow: none;
}

/* Updated Button Styling */
.btn-login {
    display: block;
    background-color: #1B48A0;
    width: 70%;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
  
.btn-login:hover {
    background-color: #016a9e;
    transform: translateY(-2px);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    color: #fff;
}
  
.btn-login:active {
    transform: translateY(0);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
  
.btn-login:focus {
    outline: none;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}

.forgot-password {
    color: #F07A0F;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #F07A0F;
}

/* INVALID INPUT PASSWORD */

/* Login Alert Message */
.login-alert-container {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.login-alert {
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}

.login-alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .left-section {
        display: none;
    }

    .right-section {
        flex: 1;
        width: 100%;
    }
}