.tweet-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 20px;
  background: #ebebeb;
  position: relative;
  max-width: 700px;
  margin: 50px auto 0 auto;
  font-family: Arial, sans-serif;
}

.tweet-input {
  width: 100%;
  height: 140px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  resize: none;
  font-size: 20px;
  background: #fff;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet-btn {
  background: #1da1f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.tweet-btn:hover {
  background: #0d8de1;
  transform: scale(1.05);
}
.emoji-picker {
  position: relative;
}
.emoji-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  transition: transform 0.2s;
}

.emoji-list {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: none;
  position: absolute;
  bottom: 20px;
  right: 0;
  border-radius: 12px;
  padding: 12px;
  width: 300px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  white-space: normal;
  max-height: 280px;
  overflow-y: auto;
  transition: right 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.emoji-list.active {
  right: auto;
  left: 0;
  display: block;
}

.emoji-list span {
  cursor: pointer;
  padding: 5px;
  font-size: 24px;
}

.emoji-list span:hover {
  background: #ddd;
  border-radius: 4px;
}


/* Recent Post */
.recent-posts {
  margin-top: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}

.recent-posts h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

.news-item {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.news-item:last-child {
  border-bottom: none;
}

.news-item h2 {
  font-size: 20px;
  margin: 0 0 5px 0;
  color: #1a1a1a;
}

.news-item p {
  font-size: 16px;
  color: #555;
  margin: 0 0 5px 0;
}

.news-item .date {
  font-size: 14px;
  color: #888;
}


