{% extends "adminbase/base.html" %} 
{% block title %}
Registrar List
{% endblock title %}
{%load static%}
{% block content %}
    <div class="crud-dashboard">

    {%for msg in messages%}
          {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{msg}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
          {%elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{msg}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endif%}
      {%endfor%}

        <h1 class="list-title">Registrar List</h1>
        
        <!-- Search and Add Course Section -->
        <div class="search-container">

            <input type="text" id="search-course" placeholder="Search Registrars">
            <button type="button" class="button-search-admin" id="search-button">Search</button>
        </div>

        <!-- Course Table -->
        <table id="course-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="registrar-list" id="course-list">
            </tbody>
        </table>

        <!-- Pagination -->
        <div id="pagination">
            <button id="prev-btn" class="pagination-btn" aria-label="Previous page">Previous</button>
            <button id="next-btn" class="pagination-btn" aria-label="Next page">Next</button>
        </div>
    </div>



<!--EDIT SUBJECT START-->
<div class="modal fade" id="editCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Edit Registrar</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="{%url 'admin:users:registrar-update'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" id="edit_id">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name" required>
            </div>
    
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name" required>
            </div>
    
             <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" required>
          </div>
    
            <div class="form-group">
              <label for="password">Password:</label>
                {{form.password}}
            </div>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="action-btn delete-btn" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="action-btn edit-btn">Save Edit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
<!--EDIT SUBJECT END-->


<!--DELETE SUBJECT START-->
<div class="modal fade" id="deleteCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirm Delete</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{%url 'admin:users:registrar-delete'%}" method="post">
        <input type="hidden" name="delete_id" id="delete_id">
        {% csrf_token %}
          <h3>Are you sure you want to delete this Registrar?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="action-btn delete-btn" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="action-btn edit-btn">Confirm</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<script src="{%static 'js/admin_registrar_user.js'%}"></script>
<!--DELETE COURSE END-->
{% endblock content %}