{%extends 'studentside/base.html'%} 
{%block title%}Student Dashboard{%endblock%}


{%block content%}

<!-- Student Information Management Section (Moved to the top) -->
<div class="container dashboard-container m-5 p-5">
  <div class="container header-dashboard">
    <h1>Welcome {{firstname}}!</h1>
    <p>Today is {% now "DATE_FORMAT"%}</p>
  </div>
  <div class="container">
    <h6>What would you like to do?</h6>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="container dashboard-card1 p-1">
            <h4>Request Document</h4>
            <p>Click here to request document</p>
           </div>
        </div>
        <div class="col-sm">
          <div class="container dashboard-card1 p-1 m-1">
            content
           </div>
        </div>
        <div class="col-sm">
          <div class="container dashboard-card1 p-1 m-1">
            content
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
