{%extends 'studentside/base.html'%}

{%block title%}Student Form Request{%endblock%}

{%block content%}
<div class="container dashboard-container m-5 p-5">
<div class="container">
    <h1>Student Form Request</h1>
</div>
<div class="container form-control">
    <label for="purpose">Purpose of payment:</label>
    <select name="purpose" id="">
        <option value="" default>-------------------------</option>
        <option value="">Certificate of Grades</option>
        <option value="">Certificate of Enrollment</option>
        <option value="">Other</option>
    </select>
</div>

</div>
{%endblock%}