{%extends 'studentside/base.html'%}

{%block title%}Student Form Request{%endblock%}

{%block content%}
<div class="container dashboard-container m-5 p-5">
<div class="container p-1">
    <h1>Student Form Request</h1>
</div>
<div class="container form-control m-1">
    <div class="container">
    <label for="purpose">Purpose of payment:</label>
    <select name="purpose" id="purpose-select" class="purpose-select">
        <option value="" selected disabled>Select an Option</option>
        <option value="TUITION">Tuition Payment</option>
        <option value="COG">Certificate of Grades</option>
        <option value="COE">Certificate of Enrollment</option>
        <option value="OTHER">Other</option>
    </select>
</div>
 <div class="container m-1" id="otherpurpose">
        <label  id="otherpurpose" class="otherpurpose" for="other">Other(Please specify):</label>
        <input id="otherpurpose" class="otherpurpose" type="text">
</div>

<div class="container m-1" id="tuition">
    <label  id="tuition" class="tuition" for="tuition">Enter amount:</label>
    <input id="tuition" class="tuition" type="text">
</div>

</div>



</div>



{%endblock%}