{%extends 'moderatorside/base.html'%} 
{%block title%}Cashier Users{%endblock%}
{%block content%}
<div class="container dashboard-container m-5 p-5">
  <div class="container">
    <div class="row">
      <div class="container col">
        <h1>Cashier Users</h1>
      </div>
      <div class="container col ps-5">
        <button type="button" class='edit-btn' data-bs-toggle="modal" data-bs-target="#addform">Add User</button>
      </div>
    </div>
  </div>
  <div class="container">
    <table class="student-table">
      <tr>
        <th>ID</th>
        <th>USN</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>21001396500</td>
        <td>Alden Justine Flores</td>
        <td>
          <button
            type="button"
            class="edit-btn"
            data-bs-toggle="modal"
            data-bs-target="#editform"
          >
            EDIT
          </button>
          <button
            type="button"
            class="delete-btn"
            data-bs-toggle="modal"
            data-bs-target="#deleteform"
          >
            DELETE
          </button>
        </td>
      </tr>
      
    </table>
  </div>
</div>
{%endblock%} 

{% block modal %}
<!--ADD FORM START -->
<div
  class="modal fade"
  id="addform"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--ADD FORM END -->



<!--EDIT FORM START -->
<div
  class="modal fade"
  id="editform"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--EDIT FORM END -->

<!--DELETE FORM START -->
<div
  class="modal fade"
  id="deleteform"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--DELETE FORM END -->
{% endblock modal %}
